.productPageContainer {
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
}

.productInfo {
  display: flex;
  flex-direction: column;
  width: 20em;
  height: 38.5em;
  padding-left: 4em;
  padding-top: 4em;
}

.btn-comprasCarrito {
  padding-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 20em;
}

.btn-comprarYa {
  width: 12em;
  height: 3em;
  color: var(--CYAN-bs-);
  background-color: var(--DEEPBLUE-bs-);
  border-radius: 10px;
  transition: 0.7s;
}

.btn-comprarYa:hover {
  color: var(--DEEPBLUE-bs-);
  background-color: var(--CYAN-bs-);
}

.containerBtnAgregarAlcarrito {
  padding-top: 1em;
  cursor: pointer;
}

.btn-agregarAlCarrito {
  width: 12em;
  height: 3em;
  color: var(--CYAN-bs-);
  background-color: var(--DEEPBLUE-bs-);
  border-radius: 10px;
  transition: 0.7s;
}

.btn-agregarAlCarrito:hover {
  color: var(--DEEPBLUE-bs-);
  background-color: var(--CYAN-bs-);
}

.containerCardProduct {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  padding-left: 3em;
  padding-top: 3.5em;
  padding-bottom: 3.5em;
}

.containerImgProduct {
  display: flex;
  flex-direction: row;
  padding-top: 4em;
}

.imagenPrincipalProduct {
  width: 35em;
  height: 35em;
}

.miniaturasProductContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.miniaturaProducto {
  border: solid;
  border-color: var(--DEEPBLUE-bs-);
  border-width: 2px;
  margin: 11px;
  border-radius: 4px;
}

.miniaturaProducto:hover {
  transition: 0.4s;
  cursor: pointer;
  border-color: var(--CYAN-bs-);
}

.thumbnail {
  width: 70px;
  height: 70px;
}

.Envios_mantenimiento {
  height: 2.5em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}

.Info_card {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.infoStockCompra {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.selectorDeCantidadCompra {
  padding-top: 2em;
}

.Botones_card_utiles {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: auto;
  height: 12em;
  align-content: center;
  align-items: center;
}

.btn-verMasVendedor {
  cursor: pointer;
  margin-top: 1em;
  margin-bottom: 1em;
  width: 80%;
  height: 4rem;
  color: var(--CYAN-bs-);
  background-color: var(--DEEPBLUE-bs-);
  border-radius: 10px;
  transition: 0.7s;
}

.btn-reembolso {
  cursor: pointer;
  width: 80%;
  height: 4rem;
  color: var(--CYAN-bs-);
  background-color: var(--DEEPBLUE-bs-);
  border-radius: 10px;
  transition: 0.7s;
}

.btn-reembolso:hover {
  color: var(--DEEPBLUE-bs-);
  background-color: var(--CYAN-bs-);
}

.btn-verMasVendedor:hover {
  color: var(--DEEPBLUE-bs-);
  background-color: var(--CYAN-bs-);
}

.containerMasCaracteristicas {
  height: 100%;
  width: 100%;
  padding-bottom: 7em;
}

.masCaracteristicasCard {
  height: 100%;
  width: 100%;
}

.masCaracteristicasText {
  background-color: var(--DEEPBLUE-bs-);
  color: var(--CYAN-bs-);
  border-radius: 5px;
}

.infoGarantiaDevoluciones {
  height: 8em;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.containerProductosInteresantes {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 10em;
  justify-content: space-around;
}

.btn-verMediosDePago {
  color: var(--CYAN-bs-);
  background-color: var(--DEEPBLUE-bs-);
  border-radius: 10px;
  transition: 0.7s;
}

.btn-verMediosDePago:hover {
  color: var(--DEEPBLUE-bs-);
  background-color: var(--CYAN-bs-);
}

.cardsProductosInteresantes {
  width: auto;
  height: 10em;
}

.btn-seleccionarCantidad {
  color: var(--CYAN-bs-);
  background-color: var(--DEEPBLUE-bs-);
  border-radius: 10px;
  transition: 0.7s;
}

.btn-seleccionarCantidad:hover {
  color: var(--DEEPBLUE-bs-);
  background-color: var(--CYAN-bs-);
}

.btn-seleccionarCantidad:active {
  color: var(--DEEPBLUE-bs-);
  background-color: var(--CYAN-bs-);
}

.containerMedioDePagos {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: space-around;
}

@media (max-width:320px){
  .productPageContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
}

@media (max-width:320px){
  .containerImgProduct{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }
}

@media (max-width:320px){
  .imagenPrincipalProduct{
    width: 20em;
    height: 20em;
  }
}

@media (max-width:320px){
  .miniaturasProductContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
}

@media (max-width:320px){
  .productInfo{
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

@media (max-width:320px){
  .precioMediosDePago{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

@media (max-width:320px){
  .btn-comprasCarrito{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}

@media (max-width:320px){
  .containerBtnComprarYa{
    width: 100%;
  }
}

@media (max-width:320px){
  .containerBtnAgregarAlcarrito{
    width: 100%;
  }
}

@media (max-width:320px){
  .containerMasCaracteristicas{
    width: 80%;
    display: flex;
    padding-top: 15px;
    margin-right: 40px;
  }
}

@media (max-width:320px){
  .masCaracteristicasCard{
    width: 100%;
  }
}
@media (max-width:320px){
  .containerCardProduct{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;
    padding-top: 0;
    padding-bottom: 3em;
  }
}

@media (max-width:320px){
  .cardProductPage{
    height: 34rem;
  }
}

@media (max-width:320px){
  .selectorDeCantidadCompra{
    width: 100%;
  }
}

@media (max-width:320px){
  .btn-seleccionarCantidad{
    width: 13em;
    padding-right: 2px;
  }
}

@media (max-width:375px){
  .containerImgProduct{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }
}

@media (max-width:375px){
  .containerImgProduct{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }
}

@media (max-width:375px){
  .containerImagenPrincipal{
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

@media (max-width:375px){
  .imagenPrincipalProduct{
    width: 20em;
    height: 20em;

  }
}

@media (max-width:375px){
  .miniaturasProductContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
}

@media (max-width:375px){
  .productInfo{
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

@media (max-width:375px){
  .precioMediosDePago{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

@media (max-width:375px){
  .btn-comprasCarrito{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}

@media (max-width:375px){
  .containerBtnComprarYa{
    width: 100%;
  }
}

@media (max-width:375px){
  .containerBtnAgregarAlcarrito{
    width: 100%;
  }
}

@media (max-width:375px){
  .containerMasCaracteristicas{
    width: 80%;
    display: flex;
    padding-top: 15px;
    margin-right: 40px;
  }
}

@media (max-width:375px){
  .masCaracteristicasCard{
    width: 100%;
  }
}
@media (max-width:375px){
  .containerCardProduct{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-left: 50px;
    padding-top: 0;
    padding-bottom: 3em;
  }
}

@media (max-width:375px){
  .cardProductPage{
    height: 34rem;
  }
}

@media (max-width:375px){
  .selectorDeCantidadCompra{
    width: 100%;
  }
}

@media (max-width:375px){
  .btn-seleccionarCantidad{
    width: 13em;
    padding-right: 2px;
  }
}

@media (max-width:425px){
  .containerImgProduct{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }
}

@media (max-width:425px){
  .containerImgProduct{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }
}

@media (max-width:425px){
  .containerImagenPrincipal{
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

@media (max-width:425px){
  .imagenPrincipalProduct{
    width: 20em;
    height: 20em;

  }
}

@media (max-width:425px){
  .miniaturasProductContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
}

@media (max-width:425px){
  .productInfo{
    display: flex;
    width: 100%;
    align-items: center;
    padding-right: 3em;
  }
}

@media (max-width:425px){
  .precioMediosDePago{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

@media (max-width:425px){
  .btn-comprasCarrito{
    width: auto;
  }
}

@media (max-width:425px){
  .containerBtnComprarYa{
    width: 100%;
  }
}

@media (max-width:425px){
  .containerBtnAgregarAlcarrito{
    width: 100%;
  }
}

@media (max-width:425px){
  .containerMasCaracteristicas{
    width: 80%;
    display: flex;
    padding-top: 15px;
    margin-right: 0px;
  }
}

@media (max-width:425px){
  .masCaracteristicasCard{
    width: 100%;
  }
}
@media (max-width:425px){
  .containerCardProduct{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-left: 4.5em;
    padding-top: 0;
    padding-bottom: 3em;
  }
}

@media (max-width:425px){
  .cardProductPage{
    height: 34rem;
  }
}

@media (max-width:425px){
  .selectorDeCantidadCompra{
    width: 100%;
  }
}


@media (max-width:768px){
  .miniaturasProductContainer{
    padding-top: 8em;
  }
}

@media (max-width:768px){
  .productInfo{
    display: flex;
    align-items: center;
  }
}