.categoriesContainer {
    height: auto;
    width: 100%;
  }
  
  .dropdownContainer {
    display: none;
  }
  
  .btnGroup {
    margin: 0.5rem;
  }
  
  .btnGroup > .categoriesBtn {
    background-color: transparent;
    border: 1px solid var(--CYAN-bs-);
    color: var(--DEEPBLUE-bs-);
    height: 6rem;
    width: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .btnGroup > .categoriesBtn:hover {
    box-shadow: 1px 1px 2px 2px var(--CYAN-bs-);
    color: var(--DEEPBLUE-bs-);
  }
  
  .cIcon {
    height: 1.8rem;
    width: 2rem;
    color: aqua;
    margin-right: 0.3rem;
  }
  
  .dropdown-item {
    color: var(--DEEPBLUE-bs-);
  }
  
  .dropdown-item:hover {
    color: var(--HOTPINK-bs-);
  }
  
  .dropdown-item:active {
    background-color: transparent;
  }
  
  @media (max-width: 576px) {
    .btnGroupContainer {
      display: none;
    }
  
    .dropdownContainer {
      display: block;
      display: flex;
      justify-content: center;
      margin-block: 0.5rem;
    }

    .dropdownM{
      width: 16rem;
    }

    #dropdown-basic {
      background-color: transparent;
      border-color: var(--CYAN-bs-);
      color: var(--DEEPBLUE-bs-);
      height: 5rem;
      width: 16rem;
    }

    #dropdown-basic:hover {
      box-shadow: 1px 1px 2px 2px var(--CYAN-bs-);
      color: var(--DEEPBLUE-bs-);
    }

    .catLink{
      color: var(--DEEPBLUE-bs-);
      text-decoration: none;
    }

    .catLink:hover{
      color: var(--CYAN-bs-);
    }
  }
  
  @media (max-width: 768px) {
    .btnGroup > .categoriesBtn {
      font-size: 0.8rem;
    }

    .cIcon {
      height: 1.6rem;
      width: 1.8rem;
      margin-right: 0;
    }
  }