.catTitle {
  padding-top: 2rem;
  color: var(--DEEPBLUE-bs-);
}

.cardProduct {
  padding-left: 0.5rem;
}

.fCardImg {
  height: 50%;
  width: 100%;
  padding: 1rem;
}

.catPagination {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-block: 2rem;
}

.catPagination b {
  color: var(--DEEPBLUE-bs-);
  font-size: 1rem;
  padding: 0.5rem;
}

.catPaginationButton {
  width: auto;
  display: flex;
  align-items: center;
}

.catPaginationButton button {
  background-color: var(--CYAN-bs-);
  border: none;
}

.catPaginationButton button:hover {
  background-color: var(--CYAN-bs-);
}

.catPaginationButton button:active {
  background-color: var(--CYAN-bs-);
}

.paginationButton button:disabled {
  background-color: rgba(12, 77, 95, 0.885);
}

@media (max-width: 576px) {
  .catPagination b {
    font-size: 0.8rem;
  }
}
