.card {
  width: 90%;
  height: 100%;
  margin: 10px;
  transition: all 300ms;
  background: 0;
  border: 0;
}

.card:hover {
  width: 90%;
  height: 100%;
  box-shadow: var(--CYAN-bs-) 0px 1px 4px 1px;
}

.hot-item{
  margin: 0.5rem;
  height: auto;
  width: 1.6rem;
  color: #ffe100;
}

.card-body {
  text-align: end;
}

.fav-icon {
  height: auto;
  width: 1.6rem;
  color: pink;
}

.fav-icon:hover {
  transform: scale(110%);
  color: var(--HOTPINK-bs-);
}

.fav-icon:active, .cart-icon:active {
  transform: scale(105%);
}

.cart-icon{
  color: lightblue;
}

.cart-icon:hover {
  color: var(--CYAN-bs-);
}

.cards-btn{
  text-align: center;
  font-size: 1.3rem;
  width: 50%;
  height: 2rem;
  font-weight: bolder;
  background-color: transparent;
  color: var(--HOTPINK-bs-);
  border: 2px solid var(--HOTPINK-bs-);
  border-radius: 10px;
  text-decoration: none;
  margin-left: 25%;
  margin-bottom: 0.5rem;
}

.cards-btn:hover{
  background-color: var(--HOTPINK-bs-);
  color: white;
}

.cards-btn:active{
  background-color: var(--HOTPINK-bs-);
  color: white;
  transform: scale(95%);
}