.container-form{
    direction: flex;    
    justify-content: center;
    align-content: center;    
}

.formPassword{       
    border-radius: 2rem;    
    padding: 2rem;    
    font-family: Arial, sans-serif;
    color: var(--DEEPBLUE-bs-);
    margin-left: 25%;
    margin-right: 25%;    
}

@media (max-width: 500px) {
    .formPassword {        
        background-color: var(--DEEPBLUE-bs-);
    }

    .btn-conteiner{        
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 1rem;
        width: 100%;
    }
}
