.bodyCartPage {
  width: 100%;
  min-height: calc(100vh - 19rem);
  background-color: white;
}

.bodyCartPage > section {
  height: 8rem;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 3.5rem;
}

.cartButton {
  width: 10rem;
  height: 4rem;
  background-color: transparent;
  color: var(--CYAN-bs-);
  font-family: "Anuphan", sans-serif;
  letter-spacing: 0.1rem;
  font-weight: bold;
  border-color: var(--CYAN-bs-);
}

.cartButton:is(:hover, :active, :focus) {
  transform: scale(95%);
  transition: 0.3s;
}

.cartTableArea {
  height: auto;
  width: 100%;
  padding: 2rem 5rem;
  display: grid;
  gap: 0.5rem;
}

.cartTableArea > div {
  display: grid;
  grid-template-columns: 15% 75% 10%;
  grid-template-rows: 10rem;
  gap: 0.5rem;
  padding: 1rem;
  border: 1px solid rgb(48, 48, 48);
  border-radius: 1rem;
}

.cartTableArea > div > img {
  width: 100%;
  height: 100%;
}

.descriptionArea {
  border-top: 2px solid rgb(80, 80, 80);
}

.itemsData > div:nth-child(3) {
  display: flex;
  flex-direction: column;
}

.itemsData > span {
  font-size: large;
  font-weight: bold;
  color: black;
}

.itemsData > div:nth-child(3) > p {
  margin: 0;
  padding-block: 0.25rem;
}

.cartDelete {
  height: 100%;
  width: 100%;
  border-left: 1px solid grey;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cartDeleteBtn {
  height: 100%;
  width: 100%;
  border: none;
  background: transparent;
  font-size: xx-large;
  font-weight: 400;
}

.cartDeleteBtn:is(:hover, :active, :focus) {
  transform: scale(95%);
  transition: 0.3s;
  color: var(--HOTPINK-bs-);
}

@media (max-width: 1200px) {
  .bodyCartPage {
    min-height: calc(100vh - 16rem);
  }
}

@media (max-width: 992px) {
  .bodyCartPage {
    min-height: calc(100vh - 16rem);
  }

  .cartTableArea {
    padding: 1rem 1.5rem;
  }

  .cartTableArea > div {
    display: grid;
    grid-template-columns: 25% 60% 15%;
    grid-template-rows: 12rem;
    gap: 0.5rem;
    padding: 1rem;
    border: 1px solid rgb(48, 48, 48);
    border-radius: 1rem;
  }

  .itemsData > span {
    font-size: medium;
    font-weight: bold;
    color: black;
  }

  .itemsData > div:nth-child(3) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .descriptionArea {
    height: 6rem;
    overflow: hidden;
    text-overflow: clip;
  }
}

@media (max-width: 576px) {
  .bodyCartPage {
    min-height: calc(100vh - 14.5rem);
  }

  .bodyCartPage > section {
    height: 10rem;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }

  .cartTableArea {
    padding: 1rem 0.5rem;
  }

  .cartTableArea > div {
    display: grid;
    grid-template-columns: 25% 60% 15%;
    grid-template-rows: 12rem;
    gap: 0.5rem;
    padding: 1rem;
    border: 1px solid rgb(48, 48, 48);
    border-radius: 1rem;
  }

  .itemsData > span {
    font-size: medium;
    font-weight: bold;
    color: black;
  }

  .descriptionArea {
    height: 5rem;
    overflow: hidden;
    text-overflow: clip;
  }

  .itemsData > div:nth-child(3) {
    display: flex;
    flex-direction: column;
  }

  .cartDeleteBtn {
    font-size: large;
  }
}
