@import url("https://fonts.googleapis.com/css2?family=Anuphan&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

/* .bodyCartPage {
  height: 100vh;
} */

.bodyCartPage > div:first-child {
  display: flex;
  margin-top: 2rem;
  margin-left: 4rem;
}
.cartButtonArea {
  width: 100%;
  height: 3.5rem;
  display: flex;
  justify-content: flex-end;
}

.cartButtonArea > a {
  height: 3.5rem;
  width: 10rem;
  color: inherit;
  text-decoration: none;
  margin-right: 5.7rem;
}

.cartButtonArea > a > button {
  background-color: #03c955;
  border: 0.1rem solid;
  border-radius: 0.2rem;
  font-family: "Anuphan", sans-serif;
  width: 100%;
  height: 100%;
}

.cartButtonArea > a > button:hover {
  transition: 0.2s;
  background-color: #08b65f;
  font-size: 1.1rem;
}

.tableAreaCartPage {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  background-color: rgb(228, 228, 228);
  height: 100%;
  flex-direction: column;
  border-radius: 0.5rem;
}

.tableAreaCartPage > div > img {
  min-width: 7.5rem;
  height: 100%;
  background-color: black;
  border-radius: 1rem;
}

.tableAreaCartPage > div {
  background-color: rgb(218, 218, 218);
  height: 8rem;
  display: flex;
  min-width: 75rem;
  margin: 1rem 2rem 1rem 2rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
}

.tableAreaCartPage > div > div:nth-child(3) {
  border-left: 0.1rem solid rgb(61, 61, 61);
  width: 10rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
}

.tableAreaCartPage > div > div:nth-child(3) > button {
  font-size: larger;
  height: 80%;
  width: 6rem;
  background-color: rgb(218, 218, 218);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-left: 1.2rem;
  border-radius: 1rem;
  border: 0;
}

.tableAreaCartPage > div > div:nth-child(3) > button:hover {
  background-color: rgb(189, 189, 189);
  transition: 0.2s;
}

.itemsData {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 2rem;
  margin-right: 2rem;
  min-width: 50rem;
  max-width: 50rem;
}

.descriptionArea {
  max-height: 3rem;
  margin-right: 1rem;
  min-width: 60rem;
}

.itemsData > div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-width: 100%;
}

.itemsData > div:nth-child(3) {
  border-top: 0.2rem solid black;
}

.tableAreaMobile {
  display: none;
}

.noItemsDiv {
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}

.shoppingCartPage {
  height: 3rem;
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

@media (max-width: 320px) {
  .bodyCartPage > .cartButtonArea {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }

  .bodyCartPage > .cartButtonArea > a {
    margin: 0;
  }

  .bodyCartPage > .tableAreaCartPage {
    display: none;
  }

  .tableAreaMobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem 0 3rem 0;
    background-color: rgb(228, 228, 228);
  }

  .tableAreaMobile > div {
    width: 90%;
    height: 30rem;
    min-height: 25rem;
    background-color: rgb(218, 218, 218);
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .tableAreaMobile > div > img {
    height: 8rem;
    width: 8rem;
    margin-top: 1rem;
  }

  .itemsDataMobile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .itemsDataMobile > h3 {
    text-decoration: underline;
    margin-top: 0.5rem;
  }

  .itemsDataMobile > div:nth-child(2) {
    margin: 1rem 0.4rem 1rem 1rem;
    max-height: 6rem;

    overflow: hidden;
    text-overflow: ellipsis;
  }

  .itemsDataMobile > div:nth-child(3) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
    border-top: 1px solid black;
    width: 100%;
    align-items: center;
  }

  .itemsDataMobile > div:nth-child(3) > div:first-child {
    margin: 0.7rem 0 0 1rem;
  }

  .itemsDataMobile > div:nth-child(3) > div:nth-child(2) {
    margin: 0.7rem 1rem 0 0;
  }

  .tableAreaMobile > div > div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .tableAreaMobile > div > div > button {
    margin-top: 0.8rem;
    margin-bottom: 1rem;
    width: 80%;
    height: 4rem;
    font-size: large;
  }

  .tableAreaMobile > div > div > button:hover {
    background-color: rgb(189, 189, 189);
    transition: 0.2s;
    font-size: larger;
  }

  .noItemsMobile {
    font-family: "Poppins", sans-serif;
  }

  .noItemsMobile > div {
    margin-top: 3rem;
  }

  .bodyCartPage > div:first-child > div:nth-child(2) {
    display: none;
  }
}

@media (max-width: 768px) {
  .bodyCartPage > .cartButtonArea {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }

  .bodyCartPage > .cartButtonArea > a {
    margin: 0;
  }

  .bodyCartPage > .tableAreaCartPage {
    display: none;
  }

  .tableAreaMobile {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    margin: 3rem 0 3rem 0;
    background-color: rgb(228, 228, 228);
    flex-wrap: wrap;
  }

  .tableAreaMobile > div {
    width: 40%;
    height: 30rem;
    min-height: 25rem;
    background-color: rgb(218, 218, 218);
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .tableAreaMobile > div > img {
    height: 8rem;
    width: 8rem;
    margin-top: 1rem;
  }

  .itemsDataMobile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .itemsDataMobile > h3 {
    text-decoration: underline;
    margin-top: 0.5rem;
  }

  .itemsDataMobile > div:nth-child(2) {
    margin: 1rem 0.4rem 1rem 1rem;
    max-height: 6rem;

    overflow: hidden;
    text-overflow: ellipsis;
  }

  .itemsDataMobile > div:nth-child(3) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
    border-top: 1px solid black;
    width: 100%;
    align-items: center;
  }

  .itemsDataMobile > div:nth-child(3) > div:first-child {
    margin: 0.7rem 0 0 1rem;
  }

  .itemsDataMobile > div:nth-child(3) > div:nth-child(2) {
    margin: 0.7rem 1rem 0 0;
  }

  .tableAreaMobile > div > div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .tableAreaMobile > div > div > button {
    margin-top: 0.8rem;
    margin-bottom: 1rem;
    width: 80%;
    height: 4rem;
    font-size: large;
  }

  .tableAreaMobile > div > div > button:hover {
    background-color: rgb(189, 189, 189);
    transition: 0.2s;
    font-size: larger;
  }

  .noItemsMobile {
    font-family: "Poppins", sans-serif;
  }

  .noItemsMobile > div {
    margin-top: 3rem;
  }

  .bodyCartPage > div:first-child > div:nth-child(2) {
    display: none;
  }
}
