* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow Condensed", sans-serif;
}

body {
  height: 50vh;
  max-height: 50vh;
  border-top: 2px solid var(--DEEPBLUE-bs-);
}

.rowContainer {
  border-top: 2px solid var(--DEEPBLUE-bs-);
}

.center {
  background-color: white;
}

.advertisement {
  background-color: var(--DEEPBLUE-bs-);
  max-height: 90vw;
  height: 90%;
}

h2 {
  color: var(--CYAN-bs-);
}

.col {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination .active a {
  background-color: var(--HOTPINK-bs-);
  border: none;
  border-radius: 30px;
}

.pagination > .active a:first-child,
.active a:last-child {
  border-radius: 30px;
}

.pagination .active a:hover {
  background-color: var(--CYAN-bs-);
  border: none;
}

.publicity {
  margin-top: 4rem;
  height: 54%;
  width: 15vw;
  box-shadow: rgb(6, 6, 158) 0px 1px 8px 0px;
  /* box-shadow: white 0px 1px 8px 0px; */
}
