.advertisement {
  background-color: rgb(8, 8, 93);
  border: 6px solid var(--DEEPBLUE-bs-);
  border-bottom: none;
  width: 15%;
  justify-content: space-evenly;
}

.publicity {
  height: 13rem;
  width: 90%;
  box-shadow: white 0px 1px 8px 0px;
  margin-block: 0.5rem;
}
