.homeContainer {
  height: calc(100vh - 8rem);
  background-image: url(../../assets/images/extras/tableBackground.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
}

.homeContainer > Button {
  width: 50%;
  height: 3rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.tableContainer {
  width: 100%;
  height: 100%;
  padding: 1rem;
  overflow-y: auto;
  color: var(--DEEPBLUE-bs-);
}

#createBtn {
  margin: 0.5rem;
  outline: none;
  cursor: pointer;
  width: auto;
  height: 50px;
  background-image: linear-gradient(to top, #a5bff3 0%, #fcfdff 80%, #fcfcfc 100%);
  border-radius: 30px;
  border: 2px solid #666769;
  transition: all 0.2s ease;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: var(--DEEPBLUE-bs-);
  text-shadow: 0 1px rgb(133, 139, 216);
}

#createBtn:hover {
  box-shadow: 0 4px 3px 1px #444c72, 0 6px 8px #131e36, 0 -4px 4px #22294f,
    0 -6px 4px #4c567f, inset 0 0 3px 3px #93a7d0;
}

#createBtn:active {
  box-shadow: 0 4px 3px 1px #444c72, 0 6px 8px #131e36, 0 -4px 4px #22294f,
    0 -6px 4px #4c567f, inset 0 0 3px 3px #93a7d0;
}

#createBtn:focus {
  box-shadow: 0 4px 3px 1px #444c72, 0 6px 8px #131e36, 0 -4px 4px #22294f,
    0 -6px 4px #4c567f, inset 0 0 3px 3px #93a7d0;
}

.pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
  margin-bottom: 2rem;
}

.pagination b {
  color: var(--DEEPBLUE-bs-);
}

.paginationButton {
  width: 25%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.paginationButton button {
  background-color: var(--HOTPINK-bs-);
  border: none;
}

.paginationButton button:hover {
  background-color: var(--HOTPINK-bs-);
}

.paginationButton button:active {
  background-color: var(--HOTPINK-bs-);
}

.paginationButton button:disabled {
  background-color: rgb(75, 7, 43);
}
