.modal {
  font-size: 16px;
}
/*#formBasicEmail{
    font-size: 18px;
    padding: 1rem;
    font-family: inherit;
    color: inherit;
    outline: none;
    border: 1px solid, var(--clr-gray300) ;
    border-radius: var(--radius);
}

.label{
    position: absolute;
    top: -0.5rem;
    left: 0.5rem;
    background-color: white;
    padding: 0 0.5rem;
    font-size: 0.8rem;
}*/
